#sidebar.col-xs-6.col-sm-2.sidebar-offcanvas(role='navigation')
  div
    ul#sidebar-nav.nav
      li.heading: a(href='#intro') Intro
      li.heading: a(href='#predicates') Predicates
      li: a(href='#not') predicate.not
      li: a(href='#is') predicate.is
      li: a(href='#exists') predicate.exists
      li: a(href='#truthy') predicate.truthy
      li: a(href='#falsey') predicate.falsey
      li: a(href='#null') predicate.null
      li: a(href='#undef') predicate.undef
      li: a(href='#equal') predicate.equal
      li: a(href='#eq') predicate.eq
      li: a(href='#less') predicate.less
      li: a(href='#lessEq') predicate.lessEq
      li: a(href='#greater') predicate.greater
      li: a(href='#greaterEq') predicate.greaterEq
      li: a(href='#object') predicate.object
      li: a(href='#array') predicate.array
      li: a(href='#date') predicate.date
      li: a(href='#rgx') predicate.rgx
      li: a(href='#finite') predicate.finite
      li: a(href='#nan') predicate.nan
      li: a(href='#arguments') predicate.arguments
      li: a(href='#error') predicate.error
      li: a(href='#fn') predicate.fn
      li: a(href='#num') predicate.num
      li: a(href='#str') predicate.str
      li: a(href='#bool') predicate.bool
      li: a(href='#int') predicate.int
      li: a(href='#primitive') predicate.primitive
      li: a(href='#pos') predicate.pos
      li: a(href='#neg') predicate.neg
      li: a(href='#zero') predicate.zero
      li: a(href='#even') predicate.even
      li: a(href='#odd') predicate.odd
      li: a(href='#contains') predicate.contains
      li: a(href='#empty') predicate.empty
      li: a(href='#has') predicate.has
      li: a(href='#instance') predicate.instance
      li: a(href='#matches') predicate.matches
      li: a(href='#ternary') predicate.ternary
      li: a(href='#and') predicate.and
      li: a(href='#or') predicate.or


      li.heading: a(href='#chaining') Chaining
      li: a(href='#every') predicate.every
      li: a(href='#some') predicate.some

      li.heading: a(href='#utils') Utils
      li: a(href='#curry') predicate.curry
      li: a(href='#partial') predicate.partial
      li: a(href='#complement') predicate.complement
      li: a(href='#mod') predicate.mod

      li.heading: a(href='#changelog') changelog
