#sidebar.col-xs-6.col-sm-2.sidebar-offcanvas(role='navigation')
  div
    ul#sidebar-nav.nav
      li.heading: a(href='#intro') Intro
      li.heading: a(href='#predicates') Predicates
      li: a(href='#not') is.not
      li: a(href='#is') is.is
      li: a(href='#exists') is.exists
      li: a(href='#truthy') is.truthy
      li: a(href='#falsey') is.falsey
      li: a(href='#null') is.null
      li: a(href='#undef') is.undef
      li: a(href='#equal') is.equal
      li: a(href='#eq') is.eq
      li: a(href='#less') is.less
      li: a(href='#lessEq') is.lessEq
      li: a(href='#greater') is.greater
      li: a(href='#greaterEq') is.greaterEq
      li: a(href='#object') is.object
      li: a(href='#array') is.array
      li: a(href='#date') is.date
      li: a(href='#rgx') is.rgx
      li: a(href='#finite') is.finite
      li: a(href='#NaN') is.NaN
      li: a(href='#arguments') is.arguments
      li: a(href='#error') is.error
      li: a(href='#fn') is.fn
      li: a(href='#num') is.num
      li: a(href='#str') is.str
      li: a(href='#bool') is.bool
      li: a(href='#int') is.int
      li: a(href='#primitive') is.primitive
      li: a(href='#pos') is.pos
      li: a(href='#neg') is.neg
      li: a(href='#zero') is.zero
      li: a(href='#even') is.even
      li: a(href='#odd') is.odd
      li: a(href='#contains') is.contains
      li: a(href='#empty') is.empty
      li: a(href='#has') is.has
      li: a(href='#instance') is.instance
      li: a(href='#ternary') is.ternary

      li.heading: a(href='#chaining') Chaining
      li: a(href='#every') is.every
      li: a(href='#some') is.some

      li.heading: a(href='#utils') Utils
      li: a(href='#curry') is.curry
      li: a(href='#partial') is.partial
      li: a(href='#complement') is.complement
      li: a(href='#mod') is.mod

      li.heading: a(href='#changelog') changelog
